
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a{
  color: #000;
}
header.banner{
  background: rgb(255,220,58);
  background: linear-gradient(90deg, rgb(255,220,58) 0%, rgb(254,187,26) 100%);
  height: 116px;
  .brand{
    img{
      padding: 0;
    }
  }
  .nav, .navbar{
    padding:0;
    li{
      a{
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px;
        display: block;
        &:hover{
          background: #ffdc3a;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
.navbar {
  background: rgb(255,220,58);
  background: linear-gradient(90deg, rgb(255,220,58) 0%, rgb(254,187,26) 100%);
  padding-top: 15px;
  padding-bottom: 15px;
  li{
    a{
      color: #000;
      text-transform: uppercase;
      display: inline-block;
      &:hover{
        background: #ffdc3a;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.navbar-light .navbar-nav .nav-link.active{
  background: #ffdc3a;
}
.processing {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
  text-align: center;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.hero_img{
  position: relative;
  img.back{
    width:100%;
  }
  div.overlay{
    position: absolute;
    bottom: 40%;
    width:100%;
    h1{
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: rgb(255,220,58);
      span{
        padding: 15px;
      }
      span.top{
        background:#000;
        display: block;
      }
      span.mid{
        background: rgb(255,220,58);
        color: #000;
        display: block;
      }
      span.last{
        background: #fff;
        color: #000;
        display: block;
        font-size: 2.5rem;
      }
    }
  }
  div.race{
    h3{
      padding: 15px 10px;
      font-size: 1.5rem;
      letter-spacing: 1;
      text-transform: uppercase;
      background: rgb(255,220,58);
      background: linear-gradient(90deg, rgb(254,187,26) 0%, rgb(255,220,58) 100%);
      margin-bottom: 0;
    }
    .text{
      background: #fff;
      padding: 15px;
      text-transform: uppercase;
    }
    a{
      color: #000;
      display: block;
      background:rgb(254,187,26);
      transition: all 0.5s;
      &:hover{
        text-decoration: none;
        img{
          opacity: 0.5;
        }
        h3{
          color: #fff;
        }
      }
    }
  }
}
.about{
  padding: 80px 0;
  h1{
    text-transform: uppercase;
    padding: 20px 0;
    &:after{
      content: '';
      background: rgb(254,187,26);
      margin: 10px 0;
      height: 3px;
      width:80px;
      display: block;
    }
  }
}
.gform_wrapper .gform_footer input[type="submit"], .gform_wrapper .gform_page_footer .button.gform_next_button, .gform_wrapper .gform_page_footer .button.gform_previous_button{
  border:none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  background: #000;
}
.volunteer{
  padding: 100px 0;
  background: rgb(255,220,58);
  background: linear-gradient(90deg, rgb(254,187,26) 0%, rgb(255,220,58) 100%);
  text-align: center;
  position: relative;
  overflow: hidden;
  a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background: #000;
  }
  h3{
    text-transform: uppercase;
    font-size: 2rem;
    &:after{
      content: '';
      background: #000;
      margin:0 auto;
      margin-top: 10px;
      height: 3px;
      width:80px;
      display: block;
    }
  }
  p{
    font-size: 20px;
    padding: 30px 0 0 0;
  }
  img{
    position: absolute;
    height: 100%;
    opacity: 0.15;
    top:0;
    left: 0;
  }
}
.page-header{
  padding:40px 0;
  h1{
    text-transform: uppercase;
    &:after{
      content: '';
      background: rgb(254,187,26);
      margin: 10px 0;
      height: 3px;
      width:80px;
      display: block;
    }
  }
}
div.raceinfo{
  header{
    padding: 40px 0;
    h1{
      text-transform: uppercase;
      &:after{
        content: '';
        background: rgb(254,187,26);
        margin: 10px 0;
        height: 3px;
        width:80px;
        display: block;
      }
    }
  }
  div.top{
    margin-bottom: 40px;
    div.cta{
      h2{
        font-size: 2rem;
        padding:40px 0 20px 0;
        text-transform: uppercase;
        &:after{
          content: '';
          background:#000;
          margin:0 auto;
          margin-top: 10px;
          height: 3px;
          width:80px;
          display: block;
        }

      }
      background: rgb(255,220,58);
      background: linear-gradient(90deg, rgb(254,187,26) 0%, rgb(255,220,58) 100%);
      text-align: center;
      a{
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        background: #000;
      }
    }
    div.meta{
      margin-top: 20px;
      ul{
        list-style: none;
        padding: 0;
        margin:20px 0;
        li{
          padding: 10px 0;
          font-size: 18px;
        }
      }
      &:before{
        content: '';
        background: #000;
        margin:0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 3px;
        width:80px;
        display: block;
      }
    }
  }
  div.info{
    line-height: 1.6;
    h3{
      text-transform: uppercase;
      &:after{
        content: '';
        background: rgb(254,187,26);
        margin: 10px 0;
        height: 3px;
        width:80px;
        display: block;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      margin:20px 0;
      li{
        padding:5px 0;
      }
    }
  }
  .card {
    border: 1px solid #f8f9fa;
  }
  .card-header {
    border-bottom: 1px solid #f8f9fa;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    color: orangered;
  }
  .field-error {
    color: #f26522;
  }
  .list-group-item.active {
    background-color: #febb1a;
    color: #000;
  }
  .list-group {
    background: #ffdc3a;
  }
  .list-group-item {
    background: transparent;
    border: 1px solid #f8fafc;
  }
}
.btn-warning{
  background: #ffdc3a;
  color: #333;
}
.card-footer {
  background: linear-gradient(90deg, #ffdc3a 0%, #febb1a 100%);
}
@media (max-width: 1100px){
  .hero_img div.overlay{
    top:10px;
    bottom: inherit;
  }
  /*img{
    max-width: 100%;
    height: auto;
  }*/
}

@media (max-width: 980px){
  .hero_img div.overlay{
    position: relative;
    img{
      max-width: 100%;
    }
  }
}
